<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boulder Bike Race API</title>
</head>
<body>
  <h1>Boulder Bike Race API Documentation</h1>
  <ul>
    <li>Submit Slogan</li>
  </ul>
</body>
</html>